@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;680;800&display=swap');

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* Typography */
  --family: 'Nunito Sans', sans-serif;

  --fs-sm: 1rem;
  --fs-md: 1.2rem;
  --fs-title: 3rem;
  --fs-subtitle: 2rem;
  --fw-light: 300;
  --fw-normal: 680;
  --fw-bold: 800;
  
  /* Media queries */

  --media-phone : '425px';
  --media-tablet : '680px';
  --media-phone : 'min-width:801px';
  --media-phone : (min-width:1025px);
/* Other */
  --transitions: '.3s all';
}
